{% extends "layout.html" %}
{% block body %}
<h1>Sharing Made Easy</h1>
<p class="lead">With a Weasyl Badge, anyone with a QR code reader app and internet connection can pull up your Weasyl profile instantly. No fumbling with touch keyboards, no "How do you spell that?"s.</p>

{% if error %}
<div class="alert alert-error">{{ error }}</div>
{% endif %}

<form class="form-inline" action="" method="POST">
  <input class="input-xlarge" type="text" name="username" placeholder="Enter your Weasyl username...">
  <select name="upscaling">
    <option value="antialias" selected>Antialias</option>
    <option value="bilinear">Bilinear interpolation</option>
    <option value="bicubic">Bicubic interpolation</option>
    <option value="nearest">Nearest neighbor</option>
  </select>
  <button class="btn btn-large btn-success" type="submit">Go!</button>
</form>
<div class="alert">
  <strong>Antialias? Bilinear interpolation?</strong> These options tell the generator how to scale your avatar. For example, if your avatar is pixel art, use Nearest Neighbor. Try different options if you get undesirable results.
</div>
<p>For best results, print your badge so it is 3.75 inches wide and 5 inches tall. You can print it however large or small you'd like, just remember that the QR code must remain a perfect square or else it won't work!</p>
{% endblock %}
